* {
  padding: 0%;
  margin: 0;
  box-sizing: border-box;
}

#the_only_button {
  border-color: blue;
  padding: 10px 20px;
  font-family: "Roboto", system-ui;
  font-weight: 800;
  font-style: normal;
  border-radius: 20px;
  background-color: white;
  display: block;
  margin: 10px auto;
}
#the_only_button:hover {
  background-color: pink;
  color: blue;
}
div {
  color: white;
  background-color: black;
  border: 1px solid gray;
  width: 30px;
  height: 30px;
  float: left;
  text-align: center;
  line-height: 30px;
  margin: 5px;
}
.circle {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  float: left;
  color: black;
  background-color: white;
  border: 2px solid blue;
}
